.container {
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow-y: auto;
  flex-grow: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  /* Evitar saltos de línea */

}

th {
  background-color: #f2f2f2;
}

/* asude */

.layout-container {
    display: grid;
    grid-template-columns: 200px 1fr; /* Asigna un ancho fijo al aside y flexible a la tabla */
    gap: 20px; /* Espacio entre el aside y la tabla */
}
aside nav{
  font-size: 1em;
  padding:1em 0 1em 1em 
}
aside nav ul{
  list-style:none;
}
aside nav ul a li {
  color: #fff;
  position:relative;
  width:calc(100% - 1em);
  padding:1em 0 1em 1em;
}
aside nav ul a li:hover {
  color: #000;
  background: rgb(255 255 255);
  border-radius: 0.5em 0em 0em 0.5em;
}
aside nav ul a li:hover::before {
    content: '';
    position: absolute;
    background: orange;
    right: 0px;
    top: -1em;
    border-radius: 0em 0em 0.5em 0em;
    border: rgb(200,16,46) 0.5em solid;
    box-shadow: 0.5em 0.5em 0 0 rgb(255 255 255);
}
aside nav ul a li:hover::after {
    content: '';
    position: absolute;
    background: orange;
    right: 0px;
    bottom: -1em;
    border-radius: 0em 0.5em 0.5em 0em;
    border: rgb(200,16,46) 0.5em solid;
    box-shadow: 0.5em -0.5em 0 0 rgb(255 255 255);
}
aside nav ul a{
  color: inherit;
  text-decoration: none;
}
